:root {
  --background: #ffffff;
  --foreground: #000000;
  --primaryColor: brown;
  --heading1: 3rem;
  --heading2: 1.5rem;
  --content: 1rem;
  --headingMobile1: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: white;
}

body {
  /* color: var(--foreground); */
  background: white;
  font-family: var(--poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.underline {
  width: 30%;
  height: 5px;
  margin-bottom: 15px;
  background-color: var(--primaryColor);
}
.space{
  height: 50px;
  width: 100%;
}
.zsiq-hide{
  display: flex !important;
}
.zsiq-float{
  right: 30px !important;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (min-width: 320px) and (max-width: 780px){
  .mobilespace {
      height: 50px;
      width: 100%;
    }
}