.header-content-container {
  width: 100%;
  padding: 0 2.5%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  background-color: black;
  .content-container {
    height: inherit;
    width: 20%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    border-right: 1px solid brown;
    gap: 10px;
  }
}
.header-container {
  width: 100%;
  padding: 0 2.5%;
  background-color: white;
  height: 60px;
  .nav-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-logo {
      height: 100%;
      width: auto;
      padding: 0.5% 2.5%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .nav-menu-container {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      .nav-menu {
        width: auto;
        color: black;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .dropbtn {
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        color: black;
        text-decoration: none;
      }

      .nav-menu.dropdown {
        width: auto;
        color: black;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border-radius: 5px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }

      .dropdown-content .btn {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        border-bottom: 0.1px groove grey;
        cursor: pointer;
      }
      .dropdown-content .btn:hover {
        background-color: rgba(128, 128, 128, 0.363);
      }
    }
  }
}
